name: Build & Test

on:
  push:
    branches:
      - master
  # Run on any pull request
  pull_request:


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Follow current releases https://nodejs.org/en/about/releases/
        node-version: [12.x, 14.x, 16.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.0.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Test
      run: npm run test

    - name: Upload Coverage
      if: matrix.node-version == '16.x'
      uses: codecov/codecov-action@v2.1.0
      with:
        # Comma-separated list of files to upload
        files: ./coverage/coverage-final.json
